<% include partials/header %>

<% include partials/top-nav %>
<% include partials/hero %>
<% include partials/about-section %>
<% include partials/advantages-section %>

<div class="numbers">
    <div class="grid-container">
        <div class="grid-x">
            
        </div>
    </div>
</div>

<% include partials/footer %>