<% include partials/header %>
<% include partials/top-nav %>

    <section class="hero">
        <div class="grid-container">
            <div class="grid-x">
                <h1>Data Center</h1>
            </div>
        </div>
    </section>

<% include partials/details-nav %>
<% include partials/details-section %>
<% include partials/advantages-section %>

<% include partials/footer %>