<% include partials/header %>
<% include partials/top-nav %>

    <section class="hero">
        <div class="grid-container">
            <div class="grid-x hero-content">
                <div class="cell medium-3">
                    <div class="hero-orb">
                        <img src="./img/datacenter-hero-orb.jpg" alt="data center">
                    </div>
                </div>
                <div class="cell medium-auto">
                    <div class="hero-text">
                        <h1>Data<br> Center</h1>
                        <a href="#!" class="button">Contrate agora!</a>
                    </div>
                </div>
            </div>
        </div>
    </section>


<% include partials/details-section %>
<% include partials/advantages-section %>

<% include partials/footer %>