<% include partials/header %>

<% include partials/top-nav %>
<% include partials/hero %>
<% include partials/about-section %>

<div class="cases">
    <div class="grid-container">
        <div class="grid-x">
            <div class="cell">
                <h2>R$ <span class="big-number">2.500.000</span>,00<br> em economia de insumos para o Estado!</h2>
            </div>
        </div>
    </div>
</div>

<% include partials/advantages-section %>

<% include partials/footer %>