<nav class="about-nav">
    <div class="grid-container">
        <ul>
            <li class="selected"><a href="#descricao">sobre o PAE</a></li>
            <li><a href="#detalhes">funcionalidades</a></li>
            <!-- <li><a href="#precos">preços</a></li> -->
        </ul>
    </div>
</nav>