<nav class="about-nav">
    <div class="grid-container">
        <ul>
            <li class="selected"><a href="#destaques">destaques</a></li>
            <li><a href="#detalhes">detalhes</a></li>
            <li><a href="#precos">preços</a></li>
            <li><a href="#contrate">contrate</a></li>
        </ul>
    </div>
</nav>