<% include about-nav %>
<section id="destaques" class="about-section">
    <div class="grid-container">
        <div class="grid-x highlight">
            <div class="cell medium-7 highlight-text">
                <h2>Para muitos órgãos o PAE já é uma realidade</h1>
                <p>Nossa vida está digitalizada, fotos, informações, voz, vídeos e áudios e agora chegou a vez dos documentos.</p>
                <p>Gere e tramite documentos de forma eletrônica, eliminanado a utilização de papel e aumentando a velocidade das ações do estado.</p>
            </div>
            <div class="cell medium-5">
                <img src="img/pae-highlight.png" alt="Menos papel">
            </div>
        </div>
    </div>
</section>
<section id="detalhes" class="about-section">
    <div class="grid-container">
        <div class="grid-x">
            <div class="cell auto">
                <h2>Detalhes</h2>
                <ul>
                    <li>Hospedagem simples de Servidor (colocation)</li>
                    <li>Hospedagem de Servidor Storage (colocation)</li>
                    <li>Hospedagem de Rack de Servidores</li>
                    <li>Hospedagem de Servidor Virtualizado</li>
                    <li>Hospedagem de Sistema</li>
                    <li>Hospedagem de Website</li>
                    <li>Registro de Domínio (pa.gov.br)</li>
                    <li>Licença de Uso Sistemas Globais (SIMAS/SIAFEM)</li>
                    <li>Locação de Espaço em Disco</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="contrate" class="about-section">
    <div class="grid-container">
        <div class="grid-x">
            <div class="cell medium-4">
                <h2>Envie seus dados e entraremos em contato</h2>
            </div>
            <div class="cell medium-8">
                <form action="">
                    <div>
                        <label for="">Nome *</label>
                        <input type="text" name="contratar[nome]" id="">
                    </div>
                    <div>
                        <label for="">CPF/CNPJ *</label>
                        <input type="text" name="contratar[cpf_cnpj]" id="">
                    </div>
                    <div>
                        <label for="">Telefone *</label>
                        <input type="text" name="contratar[telefone]" id="">
                    </div>
                    <div>
                        <label for="">Mensagem *</label>
                        <textarea name="contratar[mensagem]" id=""></textarea>
                    </div>
                    <input type="hidden" name="contratar[produto]" value="produto_id">
                    <button class="button">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</section>