<section class="advantages-section">
    <div class="grid-container">
        <div class="grid-x">
            <div class="cell medium-8">
                <h2>Para muitos órgãos o PAE já é uma realidade</h1>
                <p>Nossa vida está digitalizada, fotos, informações, voz, vídeos e áudios e agora chegou a vez dos documentos.</p>
            </div>
            <div class="cell medium-4">
                <div class="product-icon">
                    <span class="fa-layers fa-7x fa-fw">
                        <i class="fas fa-desktop"></i>
                        <i class="fas fa-file-alt" data-fa-transform="shrink-10 up-1 left-3"></i>
                        <i class="fas fa-file-invoice" data-fa-transform="shrink-10 up-2 right-3"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>