<section class="advantages-section">
    <div class="grid-container">
        
        <div class="features grid-x">
            <div class="cell medium-4 feature-item">
                <div class="feature-image">
                    <img src="img/no-paper.png" alt="Redução do uso de papel">
                </div>
                <h3>Redução do uso de papel</h>
            </div>
            <div class="cell medium-4 feature-item">
                <div class="feature-image">
                    <img src="img/connection.png" alt="Encurtamento de distâncias">
                </div>
                <h3>Melhor integração entre os municípios</h3>
            </div>
            <div class="cell medium-4 feature-item">
                <div class="feature-image">
                    <img src="img/info.png" alt="Informação confiável">
                </div>
                <h3>Informação precisa e em tempo real</h3>
            </div>
        </div>
    </div>
</section>