<div class="cases">
    <div class="grid-container">
        <div class="grid-x">
            <div class="cell">
                <h2>R$ <span class="big-number">2.500.000</span>,00<br> em economia de insumos para o Estado!</h2>
                <p><strong>15.094</strong> Documentos Gerados</p>
                <p><strong>35.053</strong> Tramitações Realizadas</p>
                <p><strong>96.098</strong> Páginas</p>
            </div>
        </div>
    </div>
</div>