<% include details-nav %>
<section id="destaques" class="details-section">
    <div class="grid-container">
        <div class="details-content grid-x">
            <div class="cell medium-8">
                <h1>Dispomos de infraestrutura de telecomunicação própria</h1>
                <p>Com Data Center, cofre para armazenamento de mídias digitais, espaço para hospedagem de soluções em Tecnologia da Informação e Comunicação.</p>
            </div>
            <div class="cell medium-4">
                <div class="product-icon">
                    <i class="fas fa-server fa-7x"></i>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="sobre" class="details-section">
    <div class="grid-container">
        <div class="details-content grid-x">
            <div class="cell auto">
                <h1>Detalhes</h1>
                <ul>
                    <li>Hospedagem simples de Servidor (colocation)</li>
                    <li>Hospedagem de Servidor Storage (colocation)</li>
                    <li>Hospedagem de Rack de Servidores</li>
                    <li>Hospedagem de Servidor Virtualizado</li>
                    <li>Hospedagem de Sistema</li>
                    <li>Hospedagem de Website</li>
                    <li>Registro de Domínio (pa.gov.br)</li>
                    <li>Licença de Uso Sistemas Globais (SIMAS/SIAFEM)</li>
                    <li>Locação de Espaço em Disco</li>
                </ul>
            </div>
        </div>
    </div>
</section>