<section class="details-section">
    <div class="grid-container">
        <div class="grid-x">
            <div class="cell large-8">
                <h1>Lorem ipsum dolor sit amet</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores distinctio asperiores accusamus delectus cupiditate odit quis voluptates illo voluptatum, corporis, illum aut laudantium, laboriosam ullam quasi modi nobis beatae reiciendis?</p>
            </div>
        </div>
    </div>
</section>