<nav class="details-nav">
    <div class="grid-container">
        <ul>
            <li><a href="#">destaques</a></li>
            <li><a href="#">sobre</a></li>
            <li class="selected"><a href="#">preços</a></li>
            <li><a href="#">contrate</a></li>
        </ul>
    </div>
</nav>