    <footer class="page-footer">
      <div class="grid-container">
        <div class="grid-x">
          <div class="medium-3">
              <img src="http://prodepa.gov.br/sites/default/files/logo_0.png" alt="Início" class="img-responsive" style="height: 75px; filter: hue-rotate(30deg) saturate(100%) brightness(0.4);">          </div>
          <div class="medium-3">
            <ul>
              <li><a href="#">Menu 1</a></li>
              <li><a href="#">Menu 2</a></li>
              <li><a href="#">Menu 3</a></li>
              <li><a href="#">Menu 4</a></li>
            </ul>
          </div>
          <div class="medium-3"></div>
          <div class="medium-3"></div>
        </div>
      </div>
    </footer>
    
    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.min.js"></script>
    <script src="js/app.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.2.0/js/all.js" integrity="sha384-4oV5EgaV02iISL2ban6c/RmotsABqE4yZxZLcYMAdG7FAPsyHYAPpywE9PJo+Khy" crossorigin="anonymous"></script>
  </body>
</html>