    <footer class="page-footer">
      <div class="grid-container">
        <div class="grid-x page-footer-grid">
          <div class="cell medium-3">
            <div class="logo-prodepa">
              <a href="http://prodepa.gov.br"><img src="img/logo-prodepa.png" alt="Início"></a>
            </div>
          </div>
          <div class="cell medium-3">
            <nav class="footer-menu">
              <ul>
                <li><a href="#">Web Services</a></li>
                <li><a href="#">Desenvolvimento</a></li>
                <li><a href="#">Comunicação</a></li>
                <li><a href="#">Multimidia</a></li>
              </ul>
            </nav>
          </div>
          <div class="cell medium-3"></div>
          <div class="cell medium-3">
            <span>Fale Conosco:</span>
            <ul>
              <li><a href="http://prodepa.gov.br/content/email" target="_blank"><i class="fas fa-envelope-square"></i> via e-mail</a></li>
              <li><a href="https://www.facebook.com/prodepa/" target="_blank"><i class="fab fa-facebook-square"></i> via Facebok</a></li>
              <li><a href="https://twitter.com/prodepa" target="_blank"><i class="fab fa-twitter-square"></i> via Twitter</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    
    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.min.js"></script>
    <script src="js/app.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.2.0/js/all.js" integrity="sha384-4oV5EgaV02iISL2ban6c/RmotsABqE4yZxZLcYMAdG7FAPsyHYAPpywE9PJo+Khy" crossorigin="anonymous"></script>
  </body>
</html>