<section class="hero">
    <div class="grid-container">
        <div class="grid-x hero-content">
            <div class="cell medium-3">
                <div class="hero-orb">
                    <img src="./img/logo-pae.png" alt="data center">
                </div>
            </div>
            <div class="cell medium-auto">
                <div class="hero-text">
                    <h1>Processo<br>Administrativo<br>Eletrônico</h1>
                    <a href="#contrate" class="button">Contrate agora!</a>
                </div>
            </div>
        </div>
    </div>
</section>