<header>
    <nav class="grid-x top-nav">
        <div class="cell small-10 medium-5 large-3">
            <a href="#">
                <h1><img src="img/logo-prodepa-top.png" alt="Logo prodepa"> PAE</h1>
            </a>
        </div>
        <i class="menu-icon">☰</i>
        <div class="cell large-9">
            <ul>
                <li><a href="#">sistemas</a></li>
                <li><a href="#">aplicativos</a></li>
                <li><a href="#">serviços</a></li>
            </ul>
        </div>
    </nav>
</header>