<header>
    <nav class="grid-x top-nav">
        <div class="cell small-10 medium-5 large-3">
            <a href="#">
                <h1>Produtos <em>Prodepa</em></h1>
            </a>
        </div>
        <i class="menu-icon">☰</i>
        <div class="cell large-9">
            <ul>
                <li><a href="#">web services</a></li>
                <li><a href="#">desenvolvimento</a></li>
                <li><a href="#">comunicação</a></li>
                <li><a href="#">multimidia</a></li>
            </ul>
        </div>
    </nav>
</header>