<section id="descricao" class="about-section">
    <div class="grid-container">
        <div class="grid-x highlight">
            <div class="cell medium-7 highlight-text">
                <h2>Para muitos órgãos o PAE já é uma realidade</h1>
                <p>Nossa vida está digitalizada, fotos, informações, voz, vídeos e áudios e agora chegou a vez dos documentos.</p>
                <p>Gere e tramite documentos de forma eletrônica, eliminanado a utilização de papel e aumentando a velocidade das ações do estado.</p>
            </div>
            <div class="cell medium-5">
                <img src="img/pae-highlight.png" alt="Menos papel">
            </div>
        </div>
    </div>
</section>