<section id="detalhes" class="about-section">
    <div class="grid-container">
        <div class="grid-x">
            <div class="cell auto">
                <h2>O que eu posso fazer com o PAE?</h2>
                <div class="grid-x">
                    <div class="cell medium-4 large-3">
                        <div class="detalhes-item">
                            <div class="detalhes-icon">
                                <i class="far fa-file"></i>
                            </div>
                            <h4>Ofícios e memorando, simples e circulares</h4>
                        </div>
                    </div>
                    <div class="cell medium-4 large-3">
                        <div class="detalhes-item">
                            <div class="detalhes-icon">
                                <i class="fas fa-sitemap"></i>
                            </div>
                            <h4>Distribua tarefas no seu setor.</h4>
                        </div>
                    </div>
                    <div class="cell medium-4 large-3">
                        <div class="detalhes-item">
                            <div class="detalhes-icon">
                                <i class="fas fa-globe-americas"></i>
                            </div>
                            <h4>Diminua distâncias</h4>
                        </div>
                    </div>
                    <div class="cell medium-4 large-3">
                        <div class="detalhes-item">
                            <div class="detalhes-icon">
                                <i class="far fa-copy"></i>
                            </div>
                            <h4>Crie qualquer tipo de documento</h4>
                        </div>
                    </div>
                    <div class="cell medium-4 large-3">
                        <div class="detalhes-item">
                            <div class="detalhes-icon">
                                <i class="fas fa-sync-alt"></i>
                            </div>
                            <h4>Crie modelos de documentos reutilizaveis</h4>
                        </div>
                    </div>
                    <div class="cell medium-4 large-3">
                        <div class="detalhes-item">
                            <div class="detalhes-icon">
                                <i class="fas fa-plus"></i>
                            </div>
                            <h4>Crie possibilidades</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>