<section id="precos" class="about-section">
    <div class="grid-container">
        <div class="grid-x price-table">
            <div class="cell small-10 medium-4">
                <div class="price-card">
                    <h3>Básico</h3>
                    <h4>R$ <span class="price">40,50</span></h4>
                    <span>mensal</span>
                    <ul>
                        <li>Ofícios e memorando</li>
                        <li>Distribua tarefas</li>
                        <li>Crie modelos</li>
                    </ul>
                    <a href="#contrate" class="button">Contratar</a>
                </div>
            </div>
            <div class="cell small-10 medium-4">
                <div class="price-card">
                    <span class="price-advice">oferta!</span>
                    <h3>Premium</h3>
                    <h4>R$ <span class="price">50,50</span></h4>
                    <span>mensal</span>
                    <ul>
                        <li>Ofícios e memorando</li>
                        <li>Distribua tarefas</li>
                        <li>Crie modelos</li>
                    </ul>
                    <a href="#contrate" class="button">Contratar</a>
                </div>
            </div>
        </div>
    </div>
</section>