<section class="index-hero">
    <div class="grid-container">
        <div class="grid-x">
            <h1>Serviços <strong>Prodepa</strong></h1>
            <span>Agilize suas atividades e aumente a produtividade!</span>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente, hic et obcaecati incidunt modi architecto. Voluptate recusandae numquam incidunt dolorum magni deleniti quo eos cupiditate ullam nulla, quasi facilis harum.</p>
        </div>
    </div>
</section>