<section class="index-hero">
    <div class="grid-container">
        <div class="grid-x">
            <h1>Serviços <strong>Prodepa</strong></h1>
            <span>Agilize suas atividades e aumente a produtividade!</span>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente, hic et obcaecati incidunt modi architecto. Voluptate recusandae numquam incidunt dolorum magni deleniti quo eos cupiditate ullam nulla, quasi facilis harum.</p>
            <p id="go-to-search"><strong>Faça uma busca e confira!</strong><br><i class="fas fa-angle-down fa-2x"></i></p>
        </div>
    </div>
</section>