<div class="search-bar">
    <div class="grid-container">
        <div class="grid-x search-container">
            <div class="cell medium-8">
                <input type="search" name="search-service" id="search-service">
            </div>
        </div>
    </div>
</div>