<section class="services">
    <div class="grid-container">
        <div class="grid-x">
            <% for(let i = 0; i < 8; i++) { %>
            <div class="cell medium-4 large-3 services-item-container" data-tags="pae-<%= i %>">
                <div class="services-item">
                    <img src="./img/logo-pae.png" alt="Logo Processo Administrativo Eletrônico">
                    <a href="/produto.html"><h2>Processo Administrativo Eletrônico (PAE) <%= i %></h2></a>
                    <p>Gere e tramite documentos de forma eletrônica, eliminanado a utilização de papel e aumentando a velocidade das ações do estado.</p>
                    <a href="/produto.html" class="button">Conhecer</a>
                </div>
            </div>
            <% } %>
        </div>
    </div>
</section>