<div class="search-bar">
    <div class="grid-container">
        <div class="grid-x search-container">
            <div class="cell medium-8 search-form">
                <input placeholder="buscar serviço" type="search" name="search-service-input" id="search-service-input">
                <button class="search-button"><i class="fas fa-search"></i></button>
            </div>
        </div>
    </div>
</div>