<section class="product-hero">
    <div class="grid-container">
        <div class="grid-x product-hero-content">
            <div class="cell medium-3">
                <div class="product-hero-orb">
                    <img src="./img/logo-pae.png" alt="Logo Processo Administrativo Eletrônico">
                </div>
            </div>
            <div class="cell medium-auto">
                <div class="product-hero-text">
                    <h1>Processo<br>Administrativo<br>Eletrônico</h1>
                    <a href="#contrate" class="button">Contrate agora!</a>
                </div>
            </div>
        </div>
    </div>
</section>