@mixin md-up {
    @media print, screen and (min-width: 40em) {
        @content;
    }
}

@mixin lg-up {
    @media print, screen and (min-width: 64em) {
        @content;
    }
}

body {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    transition: color .2s, background .2s;
}

h2 {
    margin: 0 0 20px;
    font-size: 1.5rem;
    font-weight: 300;
    @include md-up() {
        font-size: 1.75rem;
    }
    @include lg-up() {
        font-size: 2.25rem;
    }
}

h3 {
    margin: 0 0 20px;
    font-size: 1rem;
    @include md-up() {
        font-size: 1.125rem;
    }
    @include lg-up() {
        font-size: 1.25rem;
    }
}

h4 {
    margin: 0 0 20px;
    font-size: 0.825rem;
    @include lg-up() {
        font-size: 1rem;
    }
}

.button {
    display: inline-block;
    margin: 10px 0;
    padding: 7px 20px;
    background: #01DEBC;
    color: #32338e;
    font-weight: 700;
    font-size: .875rem; 
    line-height: 1.5;
    border-radius: 5px;
    box-shadow: rgba(0,0,0,.25) 0 0 10px;
    transition: box-shadow .2s, background .1s;
    &:hover {
        background: #01DEBC + #111;
        box-shadow: rgba(0,0,0,.25) 0 0 25px;
    }
    &:active {
        background: #01DEBC - #111;
        box-shadow: rgba(0,0,0,.25) 0 0 5px;
    }
    &:focus {
        box-shadow: transparentize(#32338e, .75) 0 0 0 4px;
        outline: none;
        &:active {
            box-shadow: rgba(0,0,0,.25) 0 0 5px;
        }
    }
    [class*='hero'] &:focus {
        box-shadow: transparentize($color: #01DEBC, $amount: .65) 0 0 0 4px;
        &:active {
            box-shadow: rgba(0,0,0,.25) 0 0 5px;
        }
    }
}

.top-nav {
    background: #ececec;
    display: flex;
    align-items: center;

    img {
        height: 35px;
        margin-right: 10px;
    }

    h1 {
        margin: 0;
        font-weight: 400;
        font-size: 1.5rem;
    }    
    
    a {
        display: block;
        padding: 7.5px 20px;
        color: #555;
        &:hover { color: #32338e; }
        @include lg-up() {
            padding: 7.5px 20px;
        }
    }
    
    .menu-icon {
        position: absolute;
        z-index: 100;
        cursor: pointer;
        font-style: normal;
        right: 0;
        top: -18.5px;
        padding: 20px;
        color: #555;
        font-size: 2rem;
        @include lg-up() {
            display: none;
        }
    }
    
    ul {
        background-color: #ececec;
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        list-style: none;
        text-align: left;
        white-space: nowrap;
        margin: 0;
        padding: 0;
        width: 0;
        height: 100vh;
        overflow-x: hidden;
        transition: width .2s;
        
        a {
            padding: 15px;
        }
        
        @include lg-up(){
            text-align: right;
            position: relative;
            width: initial !important;
            height: initial;
            a {
                padding: 7.5px 20px;
            }
        }

        li {
            display: block;
            border-bottom: 2px solid #ccc;
            @include lg-up() {
                display: inline-block;
                border: none;
                &:last-child { padding-right: 10px; }
            }
        }
    }
}

.index-hero {
    min-height: 150px;
    padding: 50px 0;
    background: url('../img/index-hero-bg.jpg') fixed center / cover;
    color: #fff;
    text-align: center;
    h1 {
        width: 100%;
        margin: 15px 0;
        font-weight: 400;
        font-style: italic;
        font-size: 2rem;
        line-height: 3.25rem;
        color: #fff;
        @include md-up() {
            font-size: 2.75rem;
            line-height: 3.25rem;
        }
        @include lg-up() {
            font-size: 3.75rem;
            line-height: 4.25rem;
        }
    }
    span {
        display: block;
        width: 100%;
    }
}

.search-bar {
    background: #32338e;
    
    .search-container {
        justify-content: center;
    
        input {
            background: rgba(255,255,255,.5);
            border: none;
            padding: 15px 10px;
            width: 100%;
            transition: background .1s;
            &:focus {
                background: #ececec;
                outline: none;
            }
        }

        .search-form {
            position: relative;
        }
    
        .search-button {
            color: #32338e;
            cursor: pointer;
            position: absolute;
            right: 0;
            top: 0;
            padding: 15px;
        }
    }
}

.services {
    background: #ececec;
    padding-bottom: 100px;
    min-height: 300px;

    .services-item {
        min-height: 150px;
        margin: 90px 10px -20px;
        padding: 10px;
        background-color: #cecece;
        text-align: center;
        border-top: 15px solid #32338e; 

        img {
            max-width: 55%;
            margin-top: -65px;
            border-radius: 100%;
            border: 7px solid #32338e; 
            text-align: center;
        }

        h2 {
            margin: 15px 0 0;
            color: #32338e;
            font-size: 1.25em;
        }

        p {
            font-size: .825em;
        }
    }
}

.product-hero {
    background: #32338e url('../img/pae-bg.jpg') fixed center right / cover;
    text-align: center;
    @include md-up(){
        text-align: left;
    }
    
    .product-hero-content {
        padding-top: 20px; 
        padding-bottom: 20px; 
        min-height: 300px;
        align-items: center;
    }

    h1 {
        width: 100%;
        margin: 15px 0;
        font-weight: 300;
        font-style: italic;
        font-size: 2rem;
        line-height: 3.25rem;
        color: #fff;
        @include md-up() {
            font-size: 2.75rem;
            line-height: 3.25rem;
        }
        @include lg-up() {
            font-size: 3.75rem;
            line-height: 4.25rem;
        }
    }

    .product-hero-orb {
        margin: 0 auto;
        overflow: hidden;
        border-radius: 50%;
        max-width: 150px;
        max-height: 150px;
        border: 7px solid #32338e - #222;
        @include md-up() {
            max-width: 200px;
            max-height: 200px;
        }
    }
    @include md-up() {
        .product-hero-text {
            margin-left: 30px;
        }
    }
}

$about-bg: #ececec;

.about-nav {
    background-color: #cecece;
    overflow-x: hidden;
    
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        
        li {
            display: block;
            background: transparent;
            text-align: center;
            margin: 0 -20px;
            transition: background .1s;
            @include md-up() {
                margin: initial;
                text-align: left;
                display: inline-block;
            }
            
            &.selected, &:hover {
                background: $about-bg;
                & a { color: #32338e; }
            }
            
            a {
                color: #555;
                display: block;
                padding: 7.5px 20px;
            }
        }
    }
}

.about-section {
    min-height: 200px;
    padding: 35px 0;
    background-color: $about-bg;
    color: #555;
    text-align: center;
    @include md-up() {
        text-align: left;

        p {
            margin-right: 15px;
        }
    }

    &:not(#descricao) {
        display: none;
    }

    h2, h3 {
        color: #32338e;
        @include md-up() {
            margin-right: 25px;
        }
    }
    
    ul {
        padding: 0;
        list-style-position: inside;
        @include md-up() {
            // columns: 2;
        }
    }
    
    .detalhes-item {
        margin-bottom: 35px;
        @include md-up() {
            margin-right: 20px;
        }
        
        .detalhes-icon {
            color: #32338e;
            font-size: 2rem;
            margin-bottom: 5px;
            @include md-up() {
                font-size: 1.25rem;
                float: left;
                margin: 0 15px 10px 0;
            }
            @include lg-up() {
                font-size: 2rem;
            }
        }

        h4 {
            margin-bottom: 10px;
        }

        p {
            margin: 10px 0;
            clear: both;
        }
    }
}

.highlight {
    align-items: flex-end;

    .highlight-text {
        padding-right: 20px;
    }
}

.features {
    padding: 15px 0;

    .feature-item {
        text-align: center;
        margin: 10px 0;
        @include md-up() {
            margin: 15px 0;
        }

        .feature-image {
            max-width: 105px;
            max-height: 105px;
            margin: 10px auto;
            border: 5px solid #fedd55;
            border-radius: 50%;
            padding: 15px;
            @include md-up() {
                max-width: 125px;
                max-height: 125px;
            }
        }

        h3 {
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 0;
            max-width: 65%;
            color: #555;
        }
    }
}

.price-table {
    justify-content: center;
}

.price-card {
    position: relative;
    overflow: hidden;
    background-color: #cecece;
    margin-bottom: 30px;
    padding: 0 0 15px;
    text-align: center;
    transition: all .1s;
    @include md-up() {
        margin: 0 10px;
    }
    @include lg-up() {
        margin: 0 25px;
    }

    &:hover {
        transform: scale(1.01);
        box-shadow: #cecece 0 0 25px 0;
    }

    .price-advice {
        -webkit-backface-visibility: hidden;
        position: absolute;
        top: 20px;
        right: -30px;
        transform: rotate(45deg);
        padding: 1px 40px;
        background: #F53A5C;
        color: #fff;
        font-weight: 700;
    }
    
    h3 {
        margin: 0 0 15px;
        padding: 5px 0;
        font-size: 1.1rem;
        background-color: #32338e;
        color: #fff;
    }

    h4 {
        margin: 0;
        font-weight: 300;
        .price {
            font-size: 3rem;
        }
    }

    span {
        font-size: .85rem;
    }

    ul {
        padding: 0;
        margin: 15px 3px;
        list-style: none;
        background-color: #ececec;

        li {
            padding: 12px 0;
            border-top: 3px solid #cecece;
            &:first-child {
                border: none;
            }
        }
    }
}

.advantages-section {
    background: #F53A5C;
    color: #fff;
    text-align: center;
    @include md-up() {
        text-align: left;
    }

    h3 {
        font-weight: 300;
    }
}

.cases {
    background: url('../img/cases-bg.jpg') fixed center / cover no-repeat;
    min-height: 100px;
    padding: 50px 0;
    text-align: center;
    
    h2, p {
        color: #32338e;
        margin: 0;
    }
    
    .big-number {
        font-size: 2em;
        font-weight: 700;
    }
}

.contato {
    min-height: 200px;
    padding: 35px 0;
    background-color: #ececec;
    color: #555;
    
    .contato-grid {
        justify-content: center;
    }
    
    h2 {
        color: #32338e;
    }
    
    h2, p {
        margin: 0;
        text-align: center;        
    }
    
    form {
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
    }

    .form-field {
        padding: 0 5px;
        width: 100%;
        &.half {
            @include md-up() {
                width: 50%;
            }
        }
        button {
            width: 100%;
        }
    }

    input, textarea {
        width: 100%;
        border-radius: 5px;
        border: none;
        margin: 7.5px 0 10px;
        padding: 5px 7px;
        resize: vertical;
        display: block;
        transition: box-shadow .2s ease-in-out;
        &:focus {
            outline: none;
            box-shadow: transparentize(#32338e, .75) 0 0 0 3.5px;
        }
    }
}

.page-footer {
    background: #cecece;
    color: #555;
    min-height: 75px;
    font-size: .825rem;

    .logo-prodepa img {
        height: 60px;
    }
    
    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            margin: 5px 0;
        }
    }
    
    a {
        color: #555;
        &:hover {
            color: #32338e;
        }
    }
}

.page-footer-grid {
    align-items: center;
    text-align: center;
    padding: 20px 0;

    & > div {
        margin: 10px 0;
    }
    @include md-up() {
        text-align: left;
    }
}