@mixin md-up {
    @media print, screen and (min-width: 40em) {
        @content;
    }
}

@mixin lg-up {
    @media print, screen and (min-width: 64em) {
        @content;
    }
}

body {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    transition: color .2s;
}

.top-nav {
    background: #ececec;
    display: flex;
    align-items: center;

    h1 {
        margin: 0;
        font-weight: 400;
        font-size: 1.5rem;
        em { 
            font-weight: 700 !important;
            font-style: normal;
        }
    }    
    
    a {
        display: block;
        padding: 7.5px 20px;
        color: #555;
        &:hover { color: #32338e; }
        @include lg-up() {
            padding: 7.5px 20px;
        }
        
    }
    
    .menu-icon {
        position: absolute;
        z-index: 100;
        cursor: pointer;
        font-style: normal;
        right: 0;
        top: -18.5px;
        padding: 20px;
        color: #555;
        font-size: 2rem;
        @include lg-up() {
            display: none;
        }
    }
    
    ul {
        background-color: #ececec;
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        list-style: none;
        text-align: left;
        white-space: nowrap;
        margin: 0;
        padding: 0;
        width: 0;
        height: 100vh;
        overflow-x: hidden;
        transition: width .2s;
        
        a {
            padding: 15px;
        }
        
        @include lg-up(){
            text-align: right;
            position: relative;
            width: initial !important;
            height: initial;
            a {
                padding: 7.5px 20px;
            }
        }

        li {
            display: block;
            border-bottom: 2px solid #ccc;
            @include lg-up() {
                display: inline-block;
                border: none;
                &:last-child { padding-right: 10px; }
            }
        }
    }
}

.hero {
    min-height: 400px;
    background: #32338e url('../img/datacenter-bg.jpg') center right / cover;

    h1 {
        font-size: 4rem;
        font-weight: 300;
        color: #fff;
    }
}

// $details-bg: #646464 + #222;
$details-bg: #ececec;

.details-nav {
    background-color: #cecece;
    
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        
        li {
            display: block;
            background: transparent;
            text-align: center;

            @include md-up() {
                text-align: left;
                display: inline-block;
            }
            
            &.selected, &:hover {
                background: $details-bg;
                & a { color: #32338e; }
            }
            
            a {
                color: #555;
                display: block;
                padding: 7.5px 20px;
            }
        }
    }
}

.details-section {
    min-height: 200px;
    padding: 35px 0;
    background-color: $details-bg;
    color: #555;
    text-align: center;

    &:not(#destaques) {
        display: none;
    }
    
    @include md-up() {
        text-align: left;
    }

    .details-content {
        align-items: center;
    }

    h1 {
        margin: 0;
        color: #32338e;
        font-size: 2rem;
        font-weight: 400;

        @include lg-up() {
            font-size: 2.75rem;
        }
    }

    .product-icon {
        color: #F53A5C;
        text-align: center;
    }
}

.advantages-section {
    min-height: 1200px;
    background: #F53A5C;
}