@mixin md-up {
    @media print, screen and (min-width: 40em) {
        @content;
    }
}

@mixin lg-up {
    @media print, screen and (min-width: 64em) {
        @content;
    }
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    transition: color .2s;
}

.top-nav {
    background: #ececec;
    display: flex;
    align-items: center;

    h1 {
        margin: 0;
        font-weight: 400;
        font-size: 1.5rem;
        em { 
            font-weight: 700 !important;
            font-style: normal;
        }
    }    
    
    a {
        display: block;
        padding: 7.5px 20px;
        color: #555;
        &:hover { color: #32338e; }
    }
    
    ul {
        display: none;
        list-style: none;
        text-align: right;
        margin: 0;
        
        @include lg-up(){
            display: block;
        }

        li {
            display: inline-block;
            &:last-child { padding-right: 10px; }
        }
    }
}

.hero {
    min-height: 400px;
    background: #32338e url('../img/datacenter-bg.jpg') center left / cover;
}

// $details-bg: #646464 + #222;
$details-bg: #cecece;

.details-nav {
    background-color: #ececec;
    
    ul {
        // flex-wrap: wrap;
        margin: 0;
        padding: 0;
        list-style: none;
        
        li {
            display: block;
            border-bottom: solid 5px transparent;
            text-align: center;

            @include md-up() {
                text-align: left;
                display: inline-block;
            }
            
            &.selected, &:hover {
                border-bottom: solid 5px $details-bg;
                & a { color: #32338e; }
            }
            
            a {
                color: #555;
                display: block;
                padding: 7.5px 20px;
            }
        }
    }
}

.details-section {
    min-height: 200px;
    background-color: $details-bg;
    color: #555;
    
    .cell {
        margin: 20px 0;
    }

    h1 {
        text-align: center;
        color: #32338e;
        font-size: 2rem;
        font-weight: 400;

        @include lg-up() {
            text-align: left;
            font-size: 2.75rem;
        }
    }
}