@mixin md-up {
    @media print, screen and (min-width: 40em) {
        @content;
    }
}

@mixin lg-up {
    @media print, screen and (min-width: 64em) {
        @content;
    }
}

body {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    transition: color .2s;
}

.button {
    display: inline-block;
    margin: 10px 0;
    padding: 5px 15px;
    background: #01DEBC;
    color: #32338e;
    font-weight: 700;
    font-size: .85rem; 
    border-radius: 5px;
    box-shadow: rgba(0,0,0,.25) 0 0 10px;
    &:hover {
        background: #01DEBC + #111;
        box-shadow: rgba(0,0,0,.25) 0 0 25px;
    }
    &:active {
        background: #01DEBC - #111;
        box-shadow: rgba(0,0,0,.25) 0 0 5px;
    }
    &:focus {
        box-shadow: transparentize($color: #01DEBC, $amount: .75) 0 0 0 3.5px;
        outline: none;
        &:active {
            box-shadow: rgba(0,0,0,.25) 0 0 5px;
        }
    }

}

.top-nav {
    background: #ececec;
    display: flex;
    align-items: center;

    h1 {
        margin: 0;
        font-weight: 400;
        font-size: 1.5rem;
        em { 
            font-weight: 700 !important;
            font-style: normal;
        }
    }    
    
    a {
        display: block;
        padding: 7.5px 20px;
        color: #555;
        &:hover { color: #32338e; }
        @include lg-up() {
            padding: 7.5px 20px;
        }
        
    }
    
    .menu-icon {
        position: absolute;
        z-index: 100;
        cursor: pointer;
        font-style: normal;
        right: 0;
        top: -18.5px;
        padding: 20px;
        color: #555;
        font-size: 2rem;
        @include lg-up() {
            display: none;
        }
    }
    
    ul {
        background-color: #ececec;
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        list-style: none;
        text-align: left;
        white-space: nowrap;
        margin: 0;
        padding: 0;
        width: 0;
        height: 100vh;
        overflow-x: hidden;
        transition: width .2s;
        
        a {
            padding: 15px;
        }
        
        @include lg-up(){
            text-align: right;
            position: relative;
            width: initial !important;
            height: initial;
            a {
                padding: 7.5px 20px;
            }
        }

        li {
            display: block;
            border-bottom: 2px solid #ccc;
            @include lg-up() {
                display: inline-block;
                border: none;
                &:last-child { padding-right: 10px; }
            }
        }
    }
}

.hero {
    background: #32338e url('../img/datacenter-bg.jpg') center right / cover;
    text-align: center;
    @include md-up(){
        text-align: left;
    }
    
    .hero-content {
        padding-top: 20px; 
        padding-bottom: 20px; 
        min-height: 300px;
        align-items: center;
    }

    h1 {
        width: 100%;
        margin: 15px 0;
        font-weight: 300;
        font-style: italic;
        font-size: 4rem;
        line-height: 4.5rem;
        color: #fff;
    }

    .hero-orb {
        margin: 0 auto;
        overflow: hidden;
        border-radius: 50%;
        max-width: 175px;
        max-height: 175px;
        border: 7px solid #32338e - #222;
        @include md-up() {
            max-width: 200px;
            max-height: 200px;
        }
    }
    @include md-up() {
        .hero-text {
            margin-left: 30px;
        }
    }
}

$details-bg: #ececec;

.details-nav {
    background-color: #cecece;
    overflow-x: hidden;
    
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        
        li {
            display: block;
            background: transparent;
            text-align: center;
            margin: 0 -20px;
            
            @include md-up() {
                margin: initial;
                text-align: left;
                display: inline-block;
            }
            
            &.selected, &:hover {
                background: $details-bg;
                & a { color: #32338e; }
            }
            
            a {
                color: #555;
                display: block;
                padding: 7.5px 20px;
            }
        }
    }
}

.details-section {
    min-height: 200px;
    padding: 35px 0;
    background-color: $details-bg;
    color: #555;
    text-align: center;

    &:not(#destaques) {
        display: none;
    }
    
    @include md-up() {
        text-align: left;
    }

    .details-content {
        align-items: center;
    }

    h1 {
        margin: 0;
        color: #32338e;
        font-size: 1.75rem;
        font-weight: 400;

        @include md-up() {
            font-size: 2.25rem;
        }

        @include lg-up() {
            font-size: 2.75rem;
        }
    }

    .product-icon {
        text-align: center;
    }

    ul {
        padding: 0;
        columns: 2;
        list-style-position: inside;
    }
}

.advantages-section {
    min-height: 200px;
    background: #F53A5C;
}